<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon-16x16.png">
    <link rel="manifest" href="./assets/images/site.webmanifest">
    <link rel="mask-icon" href="./assets/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="./assets/style/modifypost.css">
    <script defer src="./assets/js/base.js"></script>
</head>
<body>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
    <div class="afterload">
    <%- include("navigation") %>

    <div class="row" style="margin: 1rem 0">
        <div class="col s12 m12">
            
            <div class="row">
                    <% contacts.reverse().forEach((contact) => { %>
                    <div class="col s12 m4">
                        <div class="card-panel">
                            <h4><%= contact["name"] %></h4>
                            <span><%= contact["email"] %></span>
                            <span><%= contact["phoneno"] %></span>
                            <div><%= contact["subject"] %></div>
                            <p><%= contact["message"] %></p>
                            <div class="divider" style="margin: 1rem 0"></div>
                            <div style="display: flex; align-items: center; justify-content: space-between">
                                <span class="grey-text">Sended on <%= contact["date"] %></span>
                                <span class="grey-text"><a class="red-text" href='/contactlist/delete?id=<%= contact["_id"] %>'>Delete</a></span>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>

        </div>

        <%- include("floatingactionbutton") %>
    </div>

    </div>
</body>
</html>