<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon-16x16.png">
    <link rel="manifest" href="./assets/images/site.webmanifest">
    <link rel="mask-icon" href="./assets/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="./assets/fullpage/fullpage.js"></script>
    <script type="text/javascript" src="./assets/fullpage/fullpage.extensions.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./assets/fullpage/fullpage.css" />
    <link rel="stylesheet" href="./assets/style/index.css">
    <script defer src="./assets/js/base.js"></script>
    <script defer src="./assets/js/index.js"></script>
</head>
<body>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
    <div class="afterload">
        
        <ul id="slide-out" class="sidenav">
            <li><a href="/">Home</a></li>
            <li>
            <div class="switch" style="margin-left: 1rem">
                <label>
                    <input type="checkbox" id="darkmode">
                    <span class="lever"></span>
                </label>
                Dark mode
                </div>
            </li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/about">Privacy</a></li>
            <li><a href="/about">About</a></li>
        </ul>

        <div id="fullpage" class="fullpage">
            <% posts.forEach((post) => { %>
            <div class="section">
                <img src="./uploads/<%= post['image'] %>" style="height: 50%; width: 100%; object-fit: cover; border-radius: 0rem 0rem 1rem 1rem;" class="z-depth-2" alt="">
                <div class="container">
                    <h4><%= post["title"] %></h4>
                    <p style="font-size: 1.1rem"><%= post["description"] %></p>
                    <div class="divider" style="margin: 1rem 0"></div>
                    <span class="grey-text darken-3">Publised on <%= post["publishDate"] %></span>
                </div>
            </div>
            <% }) %>
        </div>

        <div>
            <nav>
                <div class="nav-wrapper purple" style="padding: 0 1rem">
                    <a href="" class="brand-logo"><%= title %></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/">Home</a></li>
                        <li>
                        <div class="switch" style="margin-left: 1rem">
                            <label>
                                <input type="checkbox" id="darkmodefull">
                                <span class="lever"></span>
                            </label>
                            Dark mode
                            </div>
                        </li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href="/about">Privacy</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>
            </nav>

            <div class="row">
                <% posts.reverse().forEach((post) => { %>
                    <div class="col s12 m8 offset-m2">
                        <div class="card">
                            <div class="card-image">
                                <img style="height: 200px; object-fit: cover;" src='uploads/<%= post["image"] %>'>
                            </div>
                            <div class="card-content">
                                <span class="card-title"><%= post["title"] %></span>
                                <p><%= post["description"] %></p>
                                <div class="divider" style="margin: 1rem 0"></div>
                                <span class="grey-text darken-3">Publised on <%= post["publishDate"] %></span>
                            </div>
                        </div>
                    </div>
                <% } ) %>
            </div>
        </div>

    </div>
    <script>
        if(screen.width < 800) {
          console.log(screen.width)
          document.querySelector("#fullpage").setAttribute("class", "fullpage");
        } else {
          document.querySelector("#fullpage").removeAttribute("class", "fullpage");
        }
        $("document").ready(function() {
            new fullpage('.fullpage', {
                css3: true,
                // scrollingSpeed: 1000,
                dragAndMove: true,
            });
        })
    </script>
</body>
</html>